# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
*.iml
www/lib
www/js/configuration.js
.DS_Store
.io-config.json
