@import url(http://fonts.googleapis.com/css?family=Dosis);

.container-planning {
  position: relative;
  font-family: 'Dosis', sans-serif;
}

.y-scrollable {
  position: relative;
  top: 0;
  width: 100%;
  padding-left: 60px;
  overflow: auto;
}

.no-scroll {
  /*position: absolute;*/
}

.axes-y {
  white-space: nowrap;
  margin-bottom: 10px;
}

.axes-x {
  margin-left: -145px;
}

.axes-w {
  position: absolute;
  left: 0;
  bottom: 0;
}

.date-picker {
  border-radius: 100px;
  padding: 5px 15px;
  background: #ededed;
  cursor: pointer;
  font-size: 11px;
  margin-right: 5px;
}

.date-picker:hover {
  transition: 300ms;
  background: #dc2e2e;
}

.date-picker a {
  color: white;
}

.time-slot {
  position: relative;
  display: inline-block;
  border: 1px grey solid;
  text-align: center;
  white-space: nowrap;
  margin: 0 !important;
  background: #525657;
  color: white;
  font-weight: bold;
  border-radius: 0;
}

.time-slot:after {
  position: absolute;
  bottom: -13px;
  content: '\25BC';
  font-size: 15px;
  color: #525657;
  left: 92px;
}

.lane {
  display: flex;
  min-height: 40px;
  margin: 5px 0px;
}

.col-place {
  position: relative;
  width: 155px;
  height: 40px;
  margin-top: -10px;
  margin-bottom: 15px;
}

.col-place:first-child {
  margin-top: -15px !important;
}

.place {
  position: relative;
  display: block;
  min-height: 40px;
  width: auto;
  padding: 11px 10px 0 10px;
  background: #525657;
  text-align: center;
  color: white;
  font-weight: bold;
  z-index: 99999;
}

.place:after {
  position: absolute;
  display: block;
  content: '';
  background: url('../images/arrow.png') no-repeat;
  height: 40px;
  width: 40px;
  right: -40px;
  top: 0;
}

.event {
  left: 0;
  right: 0;
  position: absolute !important;
  display: table-cell;
  border: 1px #0040D0 solid;
  border-radius: 3px;
}

.place-fix {
  display: block;
  z-index: 999999;
  margin-bottom: 6px;
  height: 39px;
}
