/* ======== IMPORTS FONTS ======== */

/* === Import Source Sans Pro  === */

@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}