/* ======== LAYOUT ======== */

body {
    font-family: 'SourceSansPro',"Helvetica Neue", "Roboto" ;
}


/* === Header === */


/* --- Colors --- */

.bar-primary { background: #e0223f;}
.bar-primary .title { color: white;}


/* === Striped Bar === */

.tab-item { font-weight: bold;}

/* --- Colors --- */

.tabs-background-primary .tabs { background: #e0223f;}


/* === Separators === */

.sep-hrz {
    display: block;
    width: 100%;
    height: 1px;
    margin: 5px 0;
}

.sep-vert {
    display: inline-block;
    height: 100%;
    width: 1px;
    margin: 0 5px;
}

.white-sep { background: #FFFFFF;}

.primary-sep {background: #e0223f;}
.primary-dark-sep {background: #95172a;}

.secondary-sep {background: #c7cacf;}
.secondary-dark-sep {background: #686868;}
