/* ======== LAYOUT ======== */

body {
    font-family: 'Source Sans Pro';
}

/* === Header === */

.fix-has-subheader { padding-top: 7px;}
.has-big-subheader { padding-top: 160px;}
.header-item { font-weight: bold !important;}

.bar .button.back-button {
    color: #911629;
}

.back-text { display: none !important;}

.fav-actions {
    padding: 12px;
}

/* --- Colors --- */

.bar-primary { background: #e0223f;}
.bar-primary .title { color: white;}

/* === Container ===*/

.card { box-shadow: none !important;}


/* === Striped Bar === */

.tab-item { font-weight: bold;}
.tabs-striped .tabs { border-bottom: 0;}

/* --- Colors --- */

.tabs-background-primary .tabs { background: #e0223f;}

/* === Separators === */

.sep-hrz {
    display: block;
    width: 100%;
    height: 1px;
    margin: 5px 0;
}

.sep-vert {
    display: inline-block;
    height: 100%;
    width: 1px;
    margin: 0 5px;
}

.white-sep { background: #FFFFFF;}

.primary-sep {background: #e0223f;}
.primary-dark-sep {background: #95172a;}

.secondary-sep {background: #eeeeee;}
.secondary-dark-sep {background: #686868;}

/* === Toogle ===*/

.toggle.toggle-assertive input:checked + .track {
    border-color: #e0223f;
    background: #e0223f;
}

/* === Input ===*/

.range {
    background: transparent;
}

input[type=range] {
    display: block;
    width: 100%;
    margin: 0;
}