/* ======== MENU ======== */

.menu-left {
    background: #db2d5e;
    background: -moz-linear-gradient(-45deg,  #db2d5e 0%, #e1223e 100%);
    background: -webkit-linear-gradient(-45deg,  #db2d5e 0%,#e1223e 100%);
    background: linear-gradient(135deg,  #db2d5e 0%,#e1223e 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db2d5e', endColorstr='#e1223e',GradientType=1 );
}

/* === Part Top === */

.header-menu {
    display: block;
    width: 100%;
    height: 24%;
    background: rgba(0, 0, 0, 0.5);
    background-size: 100%;
}

/* === Part Bottom (menu) === */

.menu-list { top: 24%;}

.menu-list .list { line-height: 0;}

.menu-list .item {
    width: 100%;
    height: 48px;
    margin: 0;
    margin-top: -1px;
    padding: 0;
    background: transparent;
    border: 1px solid #cd223e;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.menu-list .item:first-child {
    border-top: 0;
}

.menu-list .item:last-child {
    border-bottom:  1px solid #cd223e;
}

.menu-list .item-content {
    transition: 250ms;
    left: -100%;
    line-height: 1.1;
    height: 100%;
    padding: 12px;
    opacity: 0;
    background: transparent;
    color: #FFFFFF;
    transiton: 340ms;
}

.menu-list .item-content.activated {
    transition: 250ms;
    background: rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
}

.menu-list .item-content.activated i {
    transition: 250ms;
    color: #FFFFFF;
}

.menu-list .item-content i {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 30px;
    margin-right: 15px;
    font-size: 24px;
    color: white;
}

/* === Animation Menu Open === */

.menu-open .menu-list .item-content { opacity: 1;}

.menu-open .menu-list .item-content { left: 0; transition: 300ms;}