<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script>
        window.addEventListener("message", function(ev) {
            window.close();
        });
    </script>
</head>
<body>
    <h3>
      Please close this window if it does not close automatically.
    </h3>
</body>
</html>
