<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script>
        var requestCredentials = function() {
            var obj = {
                message: "deliverCredentials",
                auth_token: '{{token}}',
                uid: '{{uid}}',

                '@class': 'voxxrin2.domain.User',
                _id: '{{user.id}}',
                name: '{{user.displayName}}',
                avatarUrl: '{{user.avatarUrl}}',
                login: '{{user.login}}',
                displayName: '{{user.displayName}}',
                socialLogin: true
            };
            window.close();
            return obj;
        };

        window.addEventListener("message", function(ev) {
            if (ev.data === "requestCredentials") {
                ev.source.postMessage(requestCredentials(), '*');
                window.close();
            }
        });
    </script>
</head>
<body>
    <h3>
      Thanks you for signing up! Please close this window if it does not close automatically.
    </h3>
</body>
</html>
