/* ======== LOGIN ======== */

.login-content {
    padding: 30px;
    background-color: #e0223f;
    background: url(../../img/bg-login.png) no-repeat;
    background-size: cover;
}

/* === Part Top === */

.part-top-login {
    display: block;
    width: 100%;
    height: 65%;
    min-height: 255px;
    padding-top: 10%;
    text-align: left;
}

.logo-login {
    display: block;
    height: 54px;
    margin-bottom: 20px;
    background: url("../../img/svg/logo.svg") no-repeat;
    background-position: left center;
}

.slogan-login {
    font-family: "Brandon Text Lighter" !important;
    color: white;
}

.part-top-login h5 {
    padding-left: 12px;
}

/* === Part Bottom === */

.connect-network {
    margin-bottom: 13px;
}

.connect-network .sep-hrz {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

/* === Part Footer === */

.footer-login {
    background: transparent;
}

.legal-mention {
    width: 100%;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.4;
}