<div ng-controller="EventAdminCtrl">

    <ion-view view-title="Administration Evenement" hide-nav-bar="false">
        <ion-content>

            <div class="row abstract-item">

                <div class="col-25">
                    <span class="avatar with-border">
                        <img ng-src="{{ currentEvent.imageUrl }}">
                    </span>
                </div>
                <div class="col-60 content-desc">
                    <h4 class="title primary-title">{{ currentEvent.name }}</h4>
                </div>

            </div>

            <div class="row">

                <div class="col col-50 bloc-stats text-center">
                    <div class="content-bloc">
                        <span class="top-part bg-primary text-center"><i class="ion-mic-c"></i></span>
                        <span class="content-part">
                            <h2 class="nb">{{ stats.talksCount }}</h2>
                            <p>Nombre de talks</p>
                        </span>
                    </div>
                </div>

                <div class="col col-50 bloc-stats text-center">
                    <div class="content-bloc">
                        <span class="top-part bg-primary text-center"><i class="ion-person"></i></span>
                        <span class="content-part">
                            <h2 class="nb">{{ stats.speakersCount }}</h2>
                            <p>Nombre de speakers</p>
                        </span>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col col-33 bloc-stats text-center">
                    <div class="content-bloc">
                        <span class="top-part bg-primary text-center"><i class="ion-star"></i></span>
                        <span class="content-part">
                            <h2 class="nb">{{ stats.favoritesCount }}</h2>
                            <p>Favorisations de talks <br> ({{ stats.usersWithFavoritesCount || 0 }} utilisateurs)</p>
                        </span>
                    </div>
                </div>

                <div class="col col-33 bloc-stats text-center">
                    <div class="content-bloc">
                        <span class="top-part bg-primary text-center"><i class="ion-ios-videocam"></i></span>
                        <span class="content-part">
                            <h2 class="nb">{{ stats.remindersCount }}</h2>
                            <p>Souscriptions PUSH <br> ({{ stats.usersWithRemindersCount || 0 }} utilisateurs)</p>
                        </span>
                    </div>
                </div>

                <div class="col col-33 bloc-stats text-center">
                    <div class="content-bloc">
                        <span class="top-part bg-primary text-center"><i class="ion-speedometer"></i></span>
                        <span class="content-part">
                            <h2 class="nb">{{ stats.ratingsAvg || 0 | number: 1 }}</h2>
                            <p>Note moyenne <br> ({{ stats.ratingsCount || 0 }} notes)</p>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col bloc-stats text-center">
                    <div class="content-bloc">
                        <span class="top-part bg-primary text-center"><i class="ion-podium"></i></span>
                        <span class="content-part">
                            <h2 class="nb">{{ stats.topFavoritedPresentation ? stats.topFavoritedPresentation.title : '-' }}</h2>
                            <p>Talk le plus favorisé ({{ stats.topFavoritedPresentation ? stats.topFavoritedPresentation.favoriteCount : '-'}} notes)</p>
                        </span>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col bloc-stats text-center">
                    <div class="content-bloc">
                        <span class="top-part bg-primary text-center"><i class="ion-podium"></i></span>
                        <span class="content-part">
                            <h2 class="nb">{{ stats.topRatedPresentation ? stats.topRatedPresentation.title : '-' }}</h2>
                            <p>Talk le mieux noté</p>
                        </span>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col bloc-stats text-center">
                    <div class="content-bloc">

                        <span class="top-part bg-primary text-center">
                            Ajouter du contenu associé à un talk
                        </span>
                        <div class="content-part">

                            <div class="item item-button-right item-text-wrap" ng-repeat="prez in presentations">
                                <div class="row">
                                    <div class="col col-75">
                                        {{ ::prez.title }}
                                    </div>
                                </div>
                                <div class="row">{{ ::prez.from | date:'yyyy-MM-dd HH:mm' }} - {{ ::prez.to | date:'yyyy-MM-dd HH:mm' }}</div>
                                <button class="button button-energized icon ion-gear-a"
                                        ng-click="attachContent(prez)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </ion-content>
    </ion-view>
</div>