<div>

    <ion-view view-title="Dashboard" hide-nav-bar="false">
        <ion-content>
            <div class="row">
                <!-- Stats Talks Favoris !-->
                <div class="col col-50 bloc-stats text-center">
                    <div class="content-bloc">
                        <span class="top-part bg-primary text-center"><i class="ion-star"></i></span>
                        <span class="content-part">
                            <h2 class="nb">20</h2>
                            <p>Talks favorisées</p>
                        </span>
                    </div>
                </div>
                <!-- END Stats Talks Favoris !-->


                <!-- RemindMe !-->
                <div class="col col-50 bloc-stats text-center">
                    <div class="content-bloc">
                        <span class="top-part bg-primary text-center"><i class="ion-ios-videocam"></i></span>
                        <span class="content-part">
                            <h2 class="nb">15</h2>
                            <p>RemindMe</p>
                        </span>
                    </div>
                </div>
                <!-- END RemindMe !-->
            </div>

            <div class="row clear-padding-top clear-padding-left clear-padding-right">
                <!-- Type talks !-->
                <div class="bloc-stats full-width">
                    <div class="col content-bloc no-bg clear-padding-left clear-padding-right">
                        <span class="top-part bg-secondary inline-icon text-left"><i class="ion-flag"></i>Type de talks les plus consultés</span>
                        <ul class="list-type-talk">
                            <li class="item-type-talk keynote">
                                <div class="col col-10 clear-padding dspl-inbl">
                                    <span class="top-nb">1.</span>
                                </div>
                                <span class="col col-67 clear-padding title">Keynote</span>
                                <span class="col col-20 clear-padding nb">10</span>
                            </li>

                            <li class="item-type-talk labs">
                                <div class="col col-10 clear-padding dspl-inbl">
                                    <span class="top-nb">2.</span>
                                </div>
                                <span class="col col-67 clear-padding title">Labs</span>
                                <span class="col col-20 clear-padding nb">7</span>
                            </li>

                            <li class="item-type-talk lightning">
                                <div class="col col-10 clear-padding dspl-inbl">
                                    <span class="top-nb">3.</span>
                                </div>
                                <span class="col col-67 clear-padding title">Lighting</span>
                                <span class="col col-20 clear-padding nb">5</span>
                            </li>

                            <li class="item-type-talk lunch">
                                <div class="col col-10 clear-padding dspl-inbl">
                                    <span class="top-nb">4.</span>
                                </div>
                                <span class="col col-67 clear-padding title">Lunch</span>
                                <span class="col col-20 clear-padding nb">3</span>
                            </li>

                            <li class="item-type-talk university">
                                <div class="col col-10 clear-padding dspl-inbl">
                                    <span class="top-nb">5.</span>
                                </div>
                                <span class="col col-67 clear-padding title">University</span>
                                <span class="col col-20 clear-padding nb">2</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END Type talks !-->
            </div>

            <div class="row clear-padding-top clear-padding-left clear-padding-right">
                <!-- Type talks !-->
                <div class="bloc-stats full-width">
                    <div class="col content-bloc no-bg clear-padding-left clear-padding-right">
                        <span class="top-part bg-secondary inline-icon text-left"><i class="ion-code-working"></i>Mes technos préférées</span>

                    </div>
                </div>
                <!-- END Type talks !-->
            </div>

        </ion-content>
    </ion-view>
</div>