<div ng-controller="DaysListCtrl">

    <ion-view view-title="Jours">

        <ion-content class="container-detail-conf ">
            <div class="row abstract-item">
                <div class="col-25">
                <span class="avatar with-border">
                    <img ng-src="{{ currentEvent.imageUrl }}">
                </span>
                </div>
                <div class="col-60 content-desc">
                    <h4 class="title primary-title">{{ currentEvent.name }}</h4>
                    <span class="info-item secondary-dark-title">
                    <i class="icon ion-location"></i>
                    <p>{{ currentEvent.location }}</p>
                </span>
                    <span class="info-item secondary-dark-title">
                    <i class="icon ion-calendar"></i>
                    <p>{{ currentEvent.from | date:formats.fullDate }}</p>
                </span>
                    <span class="info-item secondary-dark-title" ng-if="Session.isAuthenticated() && isEventAdmin">
                    <button class="button button-energized icon ion-ios-gear" ui-sref="admin.event({ eventId: currentEvent._id })">
                        Administration
                    </button>
                </span>
                </div>
            </div>
        </ion-content>

        <ion-content class="list-day">
            <ion-list>

                <ion-item ng-repeat="day in days" ng-click="goToPresentations(day)" class="item-list-day">
                    <i class="ion-calendar"></i>
                    <span class="day-name">{{ day.name }}</span>
                </ion-item>

            </ion-list>
        </ion-content>

    </ion-view>
</div>