<div ng-controller="DaysListCtrl">

    <ion-view view-title="Jours">

        <ion-content>
            <div class="row abstract-item">
                <!-- TODO Branch infos -->

                <div class="col-25">
                    <span class="avatar with-border">
                        <img src="../img/avatar-test.png">
                    </span>
                </div>
                <div class="col-75 content-desc">
                    <h4 class="title primary-title">Event name</h4>
                    <span class="info-item"><i class="icon ion-location"></i>Palais des congrès, Porte Maillot PARIS</span>
                </div>
            </div>

            <ion-list>

                <ion-item ng-repeat="day in days" ng-click="goToPresentations(day)">
                    <h2>[{{ day.event.name }}] - {{ day.name }}</h2>
                </ion-item>

            </ion-list>

        </ion-content>

    </ion-view>
</div>