<div ng-controller="EventsListCtrl">

    <div ui-view>

        <header title="Voxxrin"></header>

        <ion-content class="has-header">

            <ion-list>
                <ion-item ng-repeat="event in events" ng-click="goToDays(event)" class="item-thumbnail-left" ng-click="goToDays(event)">
                    <img ng-src="{{ event.imageUrl }}" style="width: auto; height: auto">
                    <h2>{{ event.name }}</h2>
                    <p>{{ event.location }}</p>
                    <p>{{ event.description }}</p>
                </ion-item>
            </ion-list>

        </ion-content>

    </div>

</div>