<div ng-controller="IntroCtrl">

    <ion-view class="intro" hide-nav-bar="true">

        <carousel elements="slides">

            <div>
                <div class="content-carousel">
                    <img src="img/svg/tour-1.svg" alt=""/>
                    <h1 class="title">Bienvenue sur Voxxrin !</h1>
                    <h1 class="text">Découvrez dès maintenant les nouvelles fonctionnalités de cette version.</h1>
                </div>
            </div>

            <div>
                <div class="content-carousel">
                    <img src="img/svg/tour-2.svg" alt=""/>
                    <h1 class="title">Connection</h1>
                    <h1 class="text">Connectez vous avec votre compte <strong class="twitter">Twitter</strong> pour
                        <strong>synchroniser vos données</strong> Voxxrin entre vos différents <strong>devices</strong> .</h1>
                </div>
            </div>

            <div>
                <div class="content-carousel">
                    <img src="img/svg/tour-2.svg" alt=""/>
                    <h1 class="title">Trouvez une conférence</h1>
                    <h1 class="text">Consultez la liste des <strong>conférences à venir</strong> ou <strong>passées</strong> disponnible dans Voxxrin</h1>
                </div>
            </div>

            <div>
                <div class="content-carousel">
                    <img src="img/svg/tour-2.svg" alt=""/>
                    <h1 class="title">Vu des speakers / talks</h1>
                    <h1 class="text">Accedez à une vue globale des talks de la conférence et consultez les <strong>tendances</strong> de la communauté</h1>
                </div>
            </div>

            <div>
                <div class="content-carousel">
                    <img src="img/svg/tour-2.svg" alt=""/>
                    <h1 class="title">Personnalisez votre journée</h1>
                    <h1 class="text">Des actions rapides sont disponibles en faisant slider un talk. Vous avez alors la possibilité de
                        <strong>favoriser un talk</strong>, d’être <strong>notifié</strong>
                        lors de la sortie du talk en vidéo, et d’ajouter un talk à <strong>votre calendrier</strong>
                    </h1>
                </div>
            </div>

            <div>
                <div class="content-carousel">
                    <img src="img/svg/tour-2.svg" alt=""/>
                    <h1 class="title">Coup d’oeil sur un talk</h1>
                    <h1 class="text">
                        Accedez aux <strong>informations</strong> relatives à un <strong>talk</strong>,
                        aux <strong>speakers…</strong> Les actions disponibles depuis
                        la liste des talks le sont également depuis cet
                        écran
                    </h1>
                </div>
            </div>
        </carousel>

        <div class="footer-intro">
            <div>
                <button class="intro-btn intro-btn-skip btn-round button-clear float-left" ng-click="skipForever()">PASSER</button>
                <button class="intro-btn intro-btn-next btn-round button-clear float-right" ng-click="skip()">SUIVANT</button>
            </div>
        </div>
    </ion-view>
</div>
