<div ng-controller="IntroCtrl">

    <ion-view class="intro" hide-nav-bar="true">

        <carousel elements="slides">

            <div>
                <div class="content-carousel">
                    <img src="img/intro/slide1.png" alt=""/>
                    <h1 class="text">Bienvenue sur la nouvelle version de Voxxrin !</h1>
                    <h1 class="text">Découvrez dès maintenant les nouvelles fonctionnalités de cette version.</h1>
                </div>
            </div>

            <div>
                <div class="content-carousel">
                    <img src="img/intro/slide2.png" alt=""/>
                    <h1 class="text">Connectez vous avec votre compte Twitter pour synchroniser vos données Voxxrin entre vos différents devices.</h1>
                </div>
            </div>

            <div>
                <div class="content-carousel">
                    <img src="img/intro/slide3.png" alt=""/>
                    <h1 class="text">Consultez la liste des conférences à venir ou passées.</h1>
                </div>
            </div>

            <div>
                <div class="content-carousel">
                    <img src="img/intro/slide4.png" alt=""/>
                    <h1 class="text">Accedez à une vue globale des talks de la conférence et consultez les tendances de la communauté.</h1>
                </div>
            </div>

            <div>
                <div class="content-carousel">
                    <img src="img/intro/slide5.png" alt=""/>
                    <h1 class="text">Des actions rapides sont disponibles en faisant slider un talk.</h1>
                </div>
            </div>

            <div>
                <div class="content-carousel">
                    <img src="img/intro/slide5.png" alt=""/>
                    <h1 class="text">Vous avez alors la possibilité de favoriser un talk <i class="icon ion-star"></i>, d'être notifié lors de la sortie du talk en vidéo <i class="icon ion-ios-videocam"></i>, d'ajouter un talk à votre calendrier <i class="icon ion-android-calendar"></i>, et constituez votre programme de la journée.</h1>
                </div>
            </div>

            <div>
                <div class="content-carousel">
                    <img src="img/intro/slide6.png" alt=""/>
                    <h1 class="text">Accedez aux informations relatives à un talk, aux speakers, ... Les actions disponibles depuis la liste des talks le sont également depuis cet écran <i class="icon ion-star"></i><i class="icon ion-ios-videocam"></i><i class="icon ion-android-calendar"></i>.</h1>
                </div>
            </div>

            <div>
                <div class="content-carousel">
                    <img src="img/intro/slide7.png" alt=""/>
                    <h1 class="text">Attribuez une note de 1 à 5 étoiles à un talk, validez en cliquant sur le bouton
                        <button style="margin-top: 5px;" class="active round-btn small-btn secondary-btn"><i class="ion-plus-round"></i></button>
                    </h1>
                </div>
            </div>

        </carousel>

        <div class="footer-intro">

            <div class="text-center">
                <button class="intro-btn btn-round round-btn-hrz" ng-class="{ toggled: skipLater === true }" ng-click="toggleSkipLater()">Ne plus montrer</button>
                <button class="intro-btn btn-round round-btn-hrz" ng-click="skip()">Passer</button>
            </div>

        </div>


    </ion-view>
</div>
