<div ng-controller="IntroCtrl">

    <ion-view class="intro" hide-nav-bar="true">

        <carousel elements="slides">

            <div>
                <div class="content-carousel">
                    <img src="img/intro/slide1.png" alt=""/>
                    <h1 class="text">Bienvenue sur la nouvelle version de Voxxrin !</h1>
                    <h1 class="text">Découvrez dès maintenant les nouvelles fonctionnalités de cette version.</h1>
                </div>
            </div>

            <div>
                <div class="content-carousel">
                    <img src="img/intro/slide2.png" alt=""/>
                    <h1 class="text">Connectez vous avec votre compte Twitter pour synchroniser vos données Voxxrin entre vos différents devices.</h1>
                </div>
            </div>

            <div>
                <div class="content-carousel">
                    <img src="img/intro/slide3.png" alt=""/>
                    <h1 class="text">Consultez la liste des conférences à venir ou passées.</h1>
                </div>
            </div>

            <div>
                <div class="content-carousel">
                    <img src="img/intro/slide4.png" alt=""/>
                    <h1 class="text">Accedez à une vue global des talks de la conférence et consultez les tendances de la communauté.</h1>
                </div>
            </div>

            <div>
                <div class="content-carousel">
                    <img src="img/intro/slide5.png" alt=""/>
                    <h1 class="text">Favorisez les talks, inscrivez-vous aux notifications, ajoutez vos talks à votre calendrier, et constituez vos programme de votre journée.</h1>
                </div>
            </div>

            <div>
                <div class="content-carousel">
                    <img src="img/intro/slide6.png" alt=""/>
                    <h1 class="text">Accedez aux informations relatives à un talk, aux speakers, ...</h1>
                </div>
            </div>

        </carousel>

        <div class="footer-intro">

            <div class="text-center">
                <button class="intro-btn btn-round round-btn-hrz" ng-class="{ toggled: skipLater === true }" ng-click="toggleSkipLater()">Ne plus montrer</button>
                <button class="intro-btn btn-round round-btn-hrz" ng-click="skip()">Passer</button>
            </div>

        </div>


    </ion-view>
</div>
