<div ng-controller="LoginCtrl">

    <ion-view hide-nav-bar="true">

        <ion-content class="login-content" scroll="false">

            <div class="row part-top-login">
                <h1 class="logo-login"></h1>
                <h1 class="slogan-login">Your <br> conference <br> companion</h1>
            </div>

            <div class="part-bottom-login">
                <div class="text-left connect-network">
                    <button class="button button-full button-medium twitter-btn rounded ion-social-twitter"
                            ng-click="authenticate('twitter')" ng-if="!isAuthenticated">
                        Se connecter avec Twitter
                    </button>

                    <button class="button button-full linkedin-btn rounded ion-social-linkedin"
                            ng-click="authenticate('linkedin')" ng-if="!isAuthenticated">
                        Se connecter avec Linkedin
                    </button>

                    <button class="button button-full white-btn rounded"
                            ng-click="logout()" ng-if="isAuthenticated">
                        Se deconnecter
                    </button>

                    <button class="button button-full button-medium white-btn rounded ion-person" ng-click="goToEvents()">
                        Continuer en tant qu’invité
                    </button>
                </div>
            </div>

            <ion-footer-bar align-title="left" class="footer-login">
            <span class="legal-mention text-center">© Voxxrin - 2017 - v2.0</span>

        </ion-footer-bar>
        </ion-content>


    </div>

</div>