<div ng-controller="LoginCtrl">

    <div ui-view>


        <ion-content class="login-content" scroll="false">

            <div class="row part-top-login">
                <h1 class="col-55 element-centered logo"></h1>
                <h5 class="col-90 element-centered text-center white-title">Your conference companion</h5>
            </div>

            <div class="part-bottom-login">
                <div class="text-center connect-network">
                    <h4 class="white-title">Connectez-vous</h4>
                    <span class="col-50 element-centered sep-hrz primary-dark-sep"></span>
                    <div class="inline list-btn-large">
                        <button class="round-btn large-btn white-btn" ng-click="authenticate('twitter')" ng-if="!isAuthenticated">
                            <i class="icon ion-social-twitter"></i>
                        </button>

                        <button class="round-btn large-btn white-btn" ng-if="!isAuthenticated">
                            <i class="icon ion-social-linkedin"></i>
                        </button>
                    </div>

                </div>

                <div class="text-center connect-network">
                    <h5 class="white-title">Continuez sans être connecté</h5>
                    <button class="round-btn medium-btn white-btn" ng-click="goToEvents()">
                        <i class="icon ion-arrow-right-c"></i>
                    </button>
                </div>
            </div>




            <button class="button button-full button-calm" ng-click="logout()" ng-if="isAuthenticated">
                <i class="icon ion-social-twitter"></i>
                Twitter Logout
            </button>



            <button class="button button-full button-balanced" ng-if="isAuthenticated">
                Hello <b>{{ Session.getCurrent().displayName }}</b> !
            </button>

            <ion-footer-bar align-title="left" class="footer-login">
                <span class="legal-mention text-center">©Voxxrin - 2015 - v2.0</span>
            </ion-footer-bar>
        </ion-content>


    </div>

</div>