<div ng-controller="PresentationDetailsCtrl">

    <header title="Presentation" event="presentation.event"></header>

    <ion-content class="has-subheader">

        <div class="list card">

            <div class="item item-body">

                <h2>[{{ presentation.kind }}] {{ presentation.title }}</h2>
                <p>{{ presentation.location.fullName }}</p>
                <p>From {{ presentation.from | date:formats.fullDateTime }} to {{ presentation.to | date:formats.fullDateTime }}</p>
                <p>{{ presentation.summary }}</p>

                <div class="row">
                    <rating ng-model="rate" max="5"></rating>
                    <button class="button button-small button-balanced" ng-click="sendRate(presentation, rate)">Send !</button>
                </div>
                <span>{{ rates.length }} rates.</span>

            </div>

            <div ng-repeat="speaker in presentation.speakers">
                <div class="item item-avatar">
                    <img style="width: 100px; weight: auto;" ng-src="{{ speaker.avatarUrl }}">
                    <h2>{{ speaker.firstName }} {{ speaker.lastName }}</h2>
                    <p>{{ speaker.company }}</p>
                </div>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

        </div>

    </ion-content>

</div>
