<div ng-controller="PresentationsListCtrl">

    <header title="Presentations" event="day.event"></header>

    <ion-content class="has-header">

        <ion-list>

            <div ng-repeat="(slot, presentations) in slots">
                <div class="item item-divider">
                    {{ slot }}
                </div>
                <ion-item class="item-avatar" ng-repeat="prez in presentations" ng-click="goToPresentation(prez)">

                    <img style="width: auto; height: auto" ng-src="{{ prez.speakers[0].avatarUrl }}">
                    <h2>[{{ prez.kind }}] {{ prez.title }}</h2>
                    <p>{{ prez.speakers[0].firstName }} {{ prez.speakers[0].lastName }} ({{ prez.speakers[0].company }})</p>
                    <p>{{ prez.speakers[0].twitterId }}</p>
                </ion-item>
            </div>

        </ion-list>

    </ion-content>

</div>