<div ng-controller="PresentationsListCtrl">

    <ion-view view-title="Presentations">

        <!-- Striped Bar -->
        <div class="tabs-striped tabs-top tabs-background-primary tabs-color-light">
            <div class="tabs">
                <a class="tab-item active" href="#" ng-repeat="currentDay in days">
                    {{ currentDay.name }}
                </a>
            </div>
        </div>
        <!-- END Striped Bar -->

        <ion-content class="has-subheader fix-has-subheader" ion-sticky>

            <ion-list>

                <div ng-repeat="(name, slot) in slots" class="list-divider">
                    <div class="item item-divider">
                        <h3 class="white-title"><i class="icon inline medium ion-clock"></i>{{ name }}</h3>
                    </div>

                    <ion-item class="item-text-wrap" ng-repeat="prez in slot.presentations" ng-click="goToPresentation(prez)">

                        <div class="row">
                            <span class="col-20 avatar user-list">
                                <img ng-src="{{ prez.speakers[0].avatarUrl }}">
                            </span>

                            <div class="col-75 content-desc secondary-dark-title">
                                <h3 class="title primary-title">{{ prez.title }}</h3>
                                <div class="info-item supplementary-infos">
                                    <span class="prez-kind" ng-if="prez.kind">{{prez.kind}}</span>
                                    <ul class="list-alerts">
                                        <li class="item-list-alert"><i class="icon ion-videocamera"></i></li>
                                        <li class="item-list-alert active"><i class="icon ion-calendar"></i></li>
                                    </ul>
                                </div>
                                <span class="info-item"><i class="icon inline ion-location"></i>{{ prez.location.fullName }}</span>
                                <span class="info-item"  ng-if="prez.speakers[0]"><i class="icon inline ion-person"></i>{{ prez.speakers[0].firstName }} {{ prez.speakers[0].lastName }}</span>
                                <span class="info-item" ng-if="prez.speakers[0].company"><i class="icon inline ion-briefcase"></i>{{ prez.speakers[0].company }}</span>
                            </div>

                            <span class="status-line cat-1"></span>

                            <span class="icon-item-divider-list ">
                                <i class="icon ion-android-more-vertical"></i>
                            </span>


                            <!--option buttons-->
                            <ion-option-button>
                                <button class="round-btn medium-btn white-btn">
                                    <i class="icon small ion-calendar"></i>
                                </button>
                            </ion-option-button>

                            <ion-option-button>
                                <button class="round-btn medium-btn white-btn">
                                    <i class="icon ion-videocamera"></i>
                                </button>
                            </ion-option-button>

                            <ion-option-button>
                                <button class="round-btn medium-btn white-btn">
                                    <i class="icon ion-android-share-alt"></i>
                                </button>
                            </ion-option-button>

                        </div>

                    </ion-item>
                </div>

            </ion-list>

        </ion-content>

    </ion-view>

</div>