<div ng-controller="PresentationDetailsCtrl">

    <ion-view view-title="Presentation">

        <div class="bar bar-subheader">
            <h2 class="title">{{ presentation.title }}</h2>
        </div>

        <ion-content class="has-subheader"
                     animation="slide-left-right"
                     on-swipe-right="goToPreviousPrez(presentations, slots, presentation)" on-swipe-left="goToNextPrez(presentations, slots, presentation)">

            <div class="list card">

                <div class="item item-body">

                    <p><b>{{ presentation.title }}</b></p>
                    <p ng-if="presentation.kind">[{{ presentation.kind }}]</p>
                    <p>{{ presentation.location.fullName }}</p>
                    <p>{{ presentation.slot.name }} (From <span class="underline">{{ presentation.from | date:formats.fullDateTime }}</span> to <span class="underline">{{ presentation.to | date:formats.fullDateTime }}</span>)</p>
                    <p ng-bind-html="presentation.summary | trustedHtml"></p>

                    <div class="row">
                        <rating ng-model="rate" max="5"></rating>
                        <button class="button button-small button-balanced" ng-click="sendRate(presentation, rate)">Send !</button>
                    </div>
                    <span>{{ ratings.length }} rates.</span>

                </div>

                <div class="speaker" ng-repeat="speaker in presentation.speakers">
                    <div class="item item-avatar item-text-wrap">
                        <img style="width: 100px; height: auto;" ng-src="{{ speaker.avatarUrl }}">
                        <h2>{{ speaker.firstName }} {{ speaker.lastName }}</h2>
                        <p>{{ speaker.company }}</p>
                        <p>{{ speaker.twitterId | twitterId }}</p>
                        <p ng-bind-html="speaker.bio | trustedHtml"></p>
                    </div>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item">
                        <i class="icon ion-star"></i>
                        Star
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-chatbox"></i>
                        Comment
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-share"></i>
                        Share
                    </a>
                    <a class="tab-item" ng-click="openReminder(presentation)">
                        <i class="icon ion-ios-videocam"></i>
                        Remind me
                    </a>
                </div>

            </div>

        </ion-content>

    </ion-view>

</div>
