<div ng-controller="PresentationsListCtrl">

    <h3>[ {{ day.event.name }} ] {{ day.name }}</h3>

    <ion-content class="has-subheader">

        <ion-list>
            <ion-item ng-repeat="prez in presentations" ng-click="goToPresentation(prez)">
                <h2>[{{ prez.kind }}] {{ prez.title }}</h2>
                <p>{{ prez.speakers[0].firstName }} {{ prez.speakers[0].lastName }} ({{ prez.speakers[0].company }})</p>
                <p>{{ prez.speakers[0].twitterId }}</p>
            </ion-item>
        </ion-list>

    </ion-content>

</div>