<div>

    <ion-view view-title="Configuration">
        <ion-content>
            <ul class="list list-settings">

                <div class="item item-divider">
                    Activations des notifications
                </div>

                <li class="item item-toggle">
                    <h3 class="secondary-dark-title">Notifications "Remind me"</h3>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>

                <li class="item item-toggle">
                    <h3 class="secondary-dark-title">Notifications "Start Talk"</h3>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>

                <div class="item item-divider">
                    Fréquences des notifications
                </div>

                <div class="list">
                    <div class="item range range-assertive">
                        <span class="time-settings text-center"><h3 class="secondary-dark-title">15min avant</h3></span>
                        <input type="range" name="volume" min="0" max="100" value="33">
                    </div>
                </div>

            </ul>
        </ion-content>

    </ion-view>
</div>